:root { 
--purple_A700_19:#a600f919; 
--purple_900_21:#60208021; 
--black_900_3f:#0000003f; 
--purple_A700_33:#a900ff33; 
--purple_600_00:#9f208e00; 
--white_A700_33:#ffffff33; 
--white_A700_cc:#ffffffcc; 
--black_900_44:#00000044; 
--black_900:#000000; 
--purple_900:#602080; 
--blue_gray_900_01:#353535; 
--blue_gray_900:#303030; 
--purple_A200:#f638dc; 
--deep_purple_A700:#7d00ff; 
--purple_600:#9f208e; 
--white_A700_4c:#ffffff4c; 
--white_A700_0c:#ffffff0c; 
--gray_800:#383838; 
--gray_900:#181818; 
--gray_200:#e9e9e9; 
--gray_800_53:#33553353; 
--gray_100:#f2f2f2; 
--purple_600_33:#9f208e33; 
--white_A700_dd:#ffffffdd; 
--black_900_33:#00000033; 
--purple_900_c1:#602080c1; 
--blue_gray_900_99:#35353599; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--purple_A200_4f:#f638dc4f; 
}